<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE gui SYSTEM 'kpartgui.dtd'>
<gui library="katekonsoleplugin" name="katekonsole" translationDomain="katekonsoleplugin" version="7">
 <MenuBar>
  <Menu name="tools">
   <text>&amp;Tools</text>
   <Action group="tools_konsole" name="katekonsole_tools_toggle_visibility"/>
   <Action group="tools_konsole" name="katekonsole_tools_toggle_focus"/>
   <Action group="tools_konsole" name="katekonsole_tools_split_view_vertical"/>
   <Action group="tools_konsole" name="katekonsole_tools_split_view_horizontal"/>
   <Action group="tools_konsole" name="katekonsole_tools_new_tab"/>
   <Action group="tools_konsole" name="katekonsole_tools_pipe_to_terminal"/>
   <Action group="tools_konsole" name="katekonsole_tools_sync"/>
   <Action group="tools_konsole" name="katekonsole_tools_run"/>
  </Menu>
 </MenuBar>
 <ActionProperties scheme="Vscode">
  <Action name="katekonsole_tools_pipe_to_terminal" shortcut=""/>
  <Action name="katekonsole_tools_sync" shortcut=""/>
  <Action name="katekonsole_tools_run" shortcut=""/>
  <Action name="katekonsole_tools_split_view_vertical" shortcut=""/>
  <Action name="katekonsole_tools_split_view_horizontal" shortcut=""/>
  <Action name="katekonsole_tools_new_tab" shortcut=""/>
 </ActionProperties>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
