<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE gui SYSTEM 'kpartgui.dtd'>
<gui library="libkatetextfilterplugin" name="katetextfilter" translationDomain="katetextfilter" version="5">
 <MenuBar>
  <Menu name="tools">
   <text>&amp;Tools</text>
   <Action group="tools_konsole" name="edit_filter"/>
  </Menu>
 </MenuBar>
 <ActionProperties scheme="Vscode"/>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
